@font-face {
  font-family: 'TTfirsNeue';
  src: url('../public/fonts/TTFirsNeueTrialMedium.ttf');
}
.fontfamily{
  font-family: 'TtfirsNeue';
  line-height: 1;
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}
@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}
.blinkanimation {
  animation: myAnim 4s ease 0s infinite normal forwards; /* Added 'infinite' here */
}
.rotateAnimation {
  animation: rotateAnimation 3s ease-in-out infinite; /* Adjust duration as needed */
}
@keyframes myAnimbottom {
	0% {
		background-position: 50% 0%;
	}

	100% {
		background-position: 50% 100%;
	}
}
.pan-bottom{
  animation: myAnimbottom 2s ease 0s infinite 1 normal forwards;
}
/* Hide scrollbar for Webkit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}